# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore development and local settings
*.env
*.sqlite3
*.pyc
*.pyo

# Ignore static files
/staticfiles/
/static/

# Ignore media files
/media/

# Ignore log files
*.log

# Ignore database migrations (if using Django's default migration folder structure)
**/migrations/

# Ignore sensitive or secret files
/certs

# Ignore IDE or editor specific files
.vscode/
.idea/
*.swp
*.swo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vs

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix